@charset "UTF-8";
body{
  background: #a5a;
}
header{
  text-align: center;
  padding-top: 2em;
}
h1{
  font-size: 250%;
}
main{
  background: #fff;
  box-sizing: border-box;
  padding:72px 0 60px;
  height: 100%;
  width : 100%;
  overflow: hidden;

}
canvas{
  background: #000;
  display: block;
  height: 100%;
  margin: auto;
}
footer{
  text-align: center;
  padding:20px 0 0;
  height:40px;
}
