@charset "UTF-8";
body{
  background: #a5a;
}
header{
  text-align: center;
  padding-top: 2em;
}
h1{
  font-size: 250%;
}
main{
  background: #fff;
  margin : 3em auto;
}
canvas{
  background: #000;
  display: block;
  margin: auto;
}
