@charset "UTF-8";
body{
  background: #a33;
}
h1{
  padding:15px 10px;
  color: #fff;
  font-size : 250%;
}
button{
  color: #fff;
  position: absolute;
  top:17px;
  right: 25px;
  font-size: 250%;
  background-color: transparent;
  border: none;
  cursor:pointer;
}
ul{
  display: none;
  list-style-type: none;
}
ul li{
  font-size:120%;
  background: #922;
  padding: 1em;
  color:#fff;
}
ul li a{
  text-decoration: none;
  color: white;
}
main{
  background: #fff;
  font-size : 80%;
  color: #000;
  padding:2em;
  line-height: 1.2em;
}
